This program needs to:

Create a database with a custom name (custom name optional but I want it)

Have a set of fields that can be added to, edited or deleted from

Have an actual requirements file for other users

Have a friendly, lightweight, text based UI

With a simple command, open a database viewer for normals to interpret the data
